# Librerías

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
import matplotlib.pyplot as plt

# Corpus etiquetado

In [16]:
etiquetas = ["shakespeare_romeo_juliet", "dickens_a_tale_of_two_cities"]
etiquetas = ["shakespeare_the_merchant_of_venice",
             "shakespeare_romeo_juliet",
             "shakespeare_hamlet",
             "dickens_a_christmas_carol",
             "dickens_oliver_twist",
             "dickens_a_tale_of_two_cities"]
corpus = []

for etiqueta in etiquetas:
  archivo = open(etiqueta + ".txt", "r")
  corpus.append(archivo.read())
  archivo.close()

corpus = np.array(corpus)
df_corpus = pd.DataFrame({"documento": corpus,
                          "categoria": etiquetas})
df_corpus

,documento,categoria
0,"project,gutenberg,ebook,romeo,juliet,william,s...",shakespeare_romeo_juliet
1,"project,gutenberg,ebook,tale,two,city,charles,...",dickens_a_tale_of_two_cities

# Modelo de Bolsa de Palabras

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
# bolsa de palabras en matriz dispersa
count_vectorizer = CountVectorizer(min_df=0.0, max_df=1.0)
matriz_conteo = count_vectorizer.fit_transform(corpus)
matriz_conteo

<2x8913 sparse matrix of type '<class 'numpy.int64'>'
	with 10963 stored elements in Compressed Sparse Row format>

In [14]:
# ver valores diferentes de cero en la matriz dispersa
print(matriz_conteo)

  (0, 2207)	30
  (0, 1287)	27
  (0, 919)	3
  (0, 2388)	159
  (0, 1538)	69
  (0, 3199)	15
  (0, 2506)	18
  (0, 508)	1
  (0, 666)	1
  (0, 614)	24
  (0, 1420)	2
  (0, 3258)	2
  (0, 2091)	1
  (0, 1920)	3
  (0, 3195)	1
  (0, 667)	1
  (0, 2746)	1
  (0, 2497)	13
  (0, 340)	17
  (0, 1737)	15
  (0, 112)	4
  (0, 3182)	1
  (0, 118)	5
  (0, 2544)	7
  (0, 3204)	7
  :	:
  (0, 3267)	1
  (0, 2165)	1
  (0, 519)	1
  (0, 604)	1
  (0, 973)	1
  (0, 3089)	1
  (0, 2191)	1
  (0, 1825)	1
  (0, 2415)	1
  (0, 2372)	1
  (0, 2500)	1
  (0, 2146)	1
  (0, 2846)	1
  (0, 2457)	1
  (0, 362)	1
  (0, 1554)	1
  (0, 2242)	2
  (0, 1528)	1
  (0, 742)	1
  (0, 2693)	1
  (0, 3173)	1
  (0, 1100)	1
  (0, 2416)	1
  (0, 1224)	1
  (0, 1975)	1

In [20]:
# ver la representación densa
matriz_conteo = matriz_conteo.toarray()
matriz_conteo

array([[3, 1, 2, ..., 0, 1, 2],
       [1, 0, 2, ..., 2, 1, 0]])

In [21]:
# obten todas las palabras únicas del corpus
vocabulario = count_vectorizer.get_feature_names_out()
# muestra los vectores de características del documento
pd.DataFrame(matriz_conteo, columns=vocabulario)

,000,08,10,100,12,15,1500,1513,1595,1757,...,yonder,yore,young,yourn,youth,youthful,youthfulness,zealous,zip,zounds
0,3,1,2,1,1,0,0,2,1,0,...,6,0,27,0,6,3,0,0,1,2
1,1,0,2,0,0,2,1,0,0,1,...,4,1,137,1,10,3,1,2,1,0

#Vocabulario (número de columnas de la matriz)

In [ ]:
print(len(vocabulario), vocabulario)

3280 ['000' '08' '10' ... 'youthful' 'zip' 'zounds']